   /* font-link */
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
}
/* header-start */
header{
    background-color: #562EFF;
    height: 94px;
}
nav{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.logo{
    display: flex;
    margin-left: 285px;
    margin-top: 26px;

}
.logo>h2{
    margin-left: 15.58px;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    position: relative;
    bottom: 15px;
}
.logo>img{
    width: 40.42px;
    height: 51px;
}
.nav-bar{
   margin-left: 100px;
   
}
.nav-bar>a{
    position: relative;
    color: white;
    margin-left: 36px;
    text-decoration: none;
    font-size: 16px;
    bottom: 20px;
    
}
.nav-bar>img{
    margin-left: 36px;
    width: 51px;
    height: 51px;
    margin-top: 23px;
}
/* header-end */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
    
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* top blog styles */
.top-blogs{
    margin-top: 30px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* latest course */

.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    
}
.course{
    
    text-align: center;
    
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
}
.course-duration{
    background:#FFE4E8;
    border-radius: 14.6913px;
    color:#FF4A60;
    padding: 2px 10px;
    
}
/* media query */
/* for phone */
@media only screen and (max-width:688px){
    header{
        height: 100%;
        margin-right: 0;
        width:100%;
        align-items: center;
        
    }
    nav{
        grid-template-columns: repeat(1,1fr);
    }
    .logo{
        flex-direction: column;
        display: flex;
        margin: 0;
        
    }
    .logo>img{
        
    }
    .logo>h2{
        font-size: 16px;
    }
    .nav-bar{
        flex-direction: column; 
        margin: 0;
        text-align: center;
        
    }
    .nav-bar>img{
        margin: 0;
        margin-bottom: 20px;
    }
    .nav-bar>a{
        margin: 0;
        display: block;
        margin-bottom: 20px;
    }
    .section-title{
        text-align: center;
    }
    .container{
        max-width: 100%;
        margin-top: 0;
    }
    .players{
        grid-template-columns: repeat(1,1fr); 
    }
    .player{
        flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .blog{
        flex-direction: column;
    }
    .top-blogs{
        text-align: center;
    }
    .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .course-info{
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 10px;
    }
}

